---
import SidebarLayout from '../layouts/SidebarLayout.astro';
---

<SidebarLayout>
  <h2 class="text-2xl font-bold mb-4">My Projects</h2>
  <ul class="list-disc pl-6">
    <li>Project One</li>
    <li>Project Two</li>
    <li>Project Three</li>
  </ul>
</SidebarLayout>
